<h1>What the world is wondering?</h1>
<%= render 'questions/search'%>

<%@questions.each do |q|%>
	<h2><%=link_to q.title, question_path(q), class: 'link-to-text-color'%> </h2><br>
	<small>Submitted <%=time_ago_in_words(q.created_at)%> ago by <%=q.user.name%> </small><br>
	<div>
		<%if q.user==current_user%>
			<%=link_to "Edit", edit_question_path(q) %>
			<%= link_to "Delete", q, method: :delete, data: {confirm: "Are you sure?"}%>
		<%end %>
	</div>
	<div>
		<button>
	<%=link_to like_question_path(q), method: :put do %>Rate up 		
		<%=q.get_upvotes.size%></button>
	<%end%>
	<button>
	<%=link_to dislike_question_path(q), method: :put do %>Rate down 		
		<%=q.get_downvotes.size%></button>
	<%end%>
	<%if user_signed_in?%>

	<% unless current_user.favorite_questions.exists?(id: q.id) %>
<button><%= link_to 'Favorite', favorite_questions_path(question_id: q), method: :post %></button>
<% else %>
<button><%= link_to 'Unfavorite', favorite_question_path(q), method: :delete %></button>
<% end %>
<% end %>
</div>
<%end%>




