<h1>What the world is wondering?</h1>
<% if @questions.blank? %>
  <h4>There are no Questions containing the term <%= params[:search] %>.</h4>
<% end %>

<%=form_tag(questions_path, :method => 'get', id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search"%>
<%= submit_tag "Search", :name => nil%>
<% end%>

<%@questions.each do |q|%>
	<h2><%=link_to q.title, question_path(q), class: 'link-to-text-color'%> </h2><br>
	<small>Submitted <%=time_ago_in_words(q.created_at)%> ago by <%=q.user.name%> </small><br>
	<div>
		<%if q.user==current_user%>
			<%=link_to "Edit", edit_question_path(q) %>
			<%= link_to "Delete", q, method: :delete, data: {confirm: "Are you sure?"}%>
		<%end %>
	</div>
	<div>
		<button>
	<%=link_to like_question_path(q), method: :put do %>Rate up 		
		<%=q.get_upvotes.size%></button>
	<%end%>
	<button>
	<%=link_to dislike_question_path(q), method: :put do %>Rate down 		
		<%=q.get_downvotes.size%></button>
	<%end%>
</div>
<%end%>




