<p><%=response.user.name.split[0]%>: <small><%=time_ago_in_words(response.created_at)%> ago </small><br>
<%=response.answer	%><br>
</p><br>

<%= link_to "Edit", edit_question_response_path(response.question, response)%>

<%= link_to "Delete", [response.question, response], method: :delete, data: { confirm: "Are you sure?" }%>
	
	
	<%=link_to like_response_path(response), method: :put do %><button>Rate up
 		
		<%=response.get_upvotes.size%></button>
	<%end%>

		
	<%=link_to dislike_response_path(response), method: :put do %><button>Rate down	
		<%=response.get_downvotes.size%></button>
	<%end%>
	